<div class="mt-8">
    <div class="md:max-w-3xl">
        <h1
            class="text-4xl text-olive-drab font-extrabold tracking-tight sm:text-5xl lg:text-6xl"
        >
            Experiences
        </h1>
        <p class="mt-6 text-lg text-olive-drab">
            I have worked on many little projects over the years but these are
            the ones that I’m most proud of. I hope this list will continue to
            grow in the future!
        </p>
    </div>
    <div class="mt-16 sm:mt-20 p-8">
        <ul
            class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3"
            role="list"
        >
            

            <li class="group relative flex flex-col items-start">
                <div
                    class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-laurel-green shadow-md"
                >
                    <span class="text-xl">✔</span>
                </div>
                <h2 class="mt-6 text-base font-semibold text-davys-grey">
                    <div
                        class="absolute -inset-y-6 -inset-x-4 z-0 scale-95 bg-dark-vanilla opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl"
                    ></div>
                    <a href="https://pyopensci.org" target="_blank"
                        ><span
                            class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                        ></span
                        ><span class="relative z-10"
                            >pyOpenSci editor</span
                        ></a
                    >
                </h2>
                <p class="relative z-10 mt-2 text-sm text-wenge">
                    I am proud to have joined the community that supports free and open Python tools for processing scientific data.
                </p>
                
                <p
                    v-if="project.short"
                    class="relative z-10 mt-6 flex text-sm font-medium text-wenge transition group-hover:text-jet"
                >
                    <svg
                        viewBox="0 0 24 24"
                        aria-hidden="true"
                        class="h-4 w-4 flex-none"
                    >
                        <path
                            d="M19.902 4.098a3.75 3.75 0 0 0-5.304 0l-4.5 4.5a3.75 3.75 0 0 0 1.035 6.037.75.75 0 0 1-.646 1.353 5.25 5.25 0 0 1-1.449-8.45l4.5-4.5a5.25 5.25 0 1 1 7.424 7.424l-1.757 1.757a.75.75 0 1 1-1.06-1.06l1.757-1.757a3.75 3.75 0 0 0 0-5.304Zm-7.389 4.267a.75.75 0 0 1 1-.353 5.25 5.25 0 0 1 1.449 8.45l-4.5 4.5a5.25 5.25 0 1 1-7.424-7.424l1.757-1.757a.75.75 0 1 1 1.06 1.06l-1.757 1.757a3.75 3.75 0 1 0 5.304 5.304l4.5-4.5a3.75 3.75 0 0 0-1.035-6.037.75.75 0 0 1-.354-1Z"
                            clip-rule="evenodd"
                            fill-rule="evenodd"
                        ></path>
                    </svg>
                    <span class="ml-2">pyopensci.org</span>
                </p>
                
            </li>

            

            <li class="group relative flex flex-col items-start">
                <div
                    class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-laurel-green shadow-md"
                >
                    <span class="text-xl">🤖</span>
                </div>
                <h2 class="mt-6 text-base font-semibold text-davys-grey">
                    <div
                        class="absolute -inset-y-6 -inset-x-4 z-0 scale-95 bg-dark-vanilla opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl"
                    ></div>
                    <a href="https://twitter.com/hacklazzcc" target="_blank"
                        ><span
                            class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                        ></span
                        ><span class="relative z-10"
                            >Twitter campaign</span
                        ></a
                    >
                </h2>
                <p class="relative z-10 mt-2 text-sm text-wenge">
                    I co-created a bot for a music promotional campaign. Over five days, the bot generated and served over 4,000 short videos and were among the top trending topics worldwide.
                </p>
                
                <p
                    v-if="project.short"
                    class="relative z-10 mt-6 flex text-sm font-medium text-wenge transition group-hover:text-jet"
                >
                    <svg
                        viewBox="0 0 24 24"
                        aria-hidden="true"
                        class="h-4 w-4 flex-none"
                    >
                        <path
                            d="M19.902 4.098a3.75 3.75 0 0 0-5.304 0l-4.5 4.5a3.75 3.75 0 0 0 1.035 6.037.75.75 0 0 1-.646 1.353 5.25 5.25 0 0 1-1.449-8.45l4.5-4.5a5.25 5.25 0 1 1 7.424 7.424l-1.757 1.757a.75.75 0 1 1-1.06-1.06l1.757-1.757a3.75 3.75 0 0 0 0-5.304Zm-7.389 4.267a.75.75 0 0 1 1-.353 5.25 5.25 0 0 1 1.449 8.45l-4.5 4.5a5.25 5.25 0 1 1-7.424-7.424l1.757-1.757a.75.75 0 1 1 1.06 1.06l-1.757 1.757a3.75 3.75 0 1 0 5.304 5.304l4.5-4.5a3.75 3.75 0 0 0-1.035-6.037.75.75 0 0 1-.354-1Z"
                            clip-rule="evenodd"
                            fill-rule="evenodd"
                        ></path>
                    </svg>
                    <span class="ml-2">twitter.com</span>
                </p>
                
            </li>

            

            <li class="group relative flex flex-col items-start">
                <div
                    class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-laurel-green shadow-md"
                >
                    <span class="text-xl">📕</span>
                </div>
                <h2 class="mt-6 text-base font-semibold text-davys-grey">
                    <div
                        class="absolute -inset-y-6 -inset-x-4 z-0 scale-95 bg-dark-vanilla opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl"
                    ></div>
                    <a href="https://store.metasnake.com/effective-pandas-book" target="_blank"
                        ><span
                            class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                        ></span
                        ><span class="relative z-10"
                            >Effective Pandas Book</span
                        ></a
                    >
                </h2>
                <p class="relative z-10 mt-2 text-sm text-wenge">
                    I am honored to be credited as a technical editor in this excellent book by Matt Harrison. This book presents the best practices for manipulating data with Pandas.
                </p>
                
                <p
                    v-if="project.short"
                    class="relative z-10 mt-6 flex text-sm font-medium text-wenge transition group-hover:text-jet"
                >
                    <svg
                        viewBox="0 0 24 24"
                        aria-hidden="true"
                        class="h-4 w-4 flex-none"
                    >
                        <path
                            d="M19.902 4.098a3.75 3.75 0 0 0-5.304 0l-4.5 4.5a3.75 3.75 0 0 0 1.035 6.037.75.75 0 0 1-.646 1.353 5.25 5.25 0 0 1-1.449-8.45l4.5-4.5a5.25 5.25 0 1 1 7.424 7.424l-1.757 1.757a.75.75 0 1 1-1.06-1.06l1.757-1.757a3.75 3.75 0 0 0 0-5.304Zm-7.389 4.267a.75.75 0 0 1 1-.353 5.25 5.25 0 0 1 1.449 8.45l-4.5 4.5a5.25 5.25 0 1 1-7.424-7.424l1.757-1.757a.75.75 0 1 1 1.06 1.06l-1.757 1.757a3.75 3.75 0 1 0 5.304 5.304l4.5-4.5a3.75 3.75 0 0 0-1.035-6.037.75.75 0 0 1-.354-1Z"
                            clip-rule="evenodd"
                            fill-rule="evenodd"
                        ></path>
                    </svg>
                    <span class="ml-2">metasnake.com</span>
                </p>
                
            </li>

            

            <li class="group relative flex flex-col items-start">
                <div
                    class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-laurel-green shadow-md"
                >
                    <span class="text-xl">🎵</span>
                </div>
                <h2 class="mt-6 text-base font-semibold text-davys-grey">
                    <div
                        class="absolute -inset-y-6 -inset-x-4 z-0 scale-95 bg-dark-vanilla opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl"
                    ></div>
                    <a href="https://www.camelia.studio/" target="_blank"
                        ><span
                            class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                        ></span
                        ><span class="relative z-10"
                            >Camelia</span
                        ></a
                    >
                </h2>
                <p class="relative z-10 mt-2 text-sm text-wenge">
                    I co-created Camelia, a platform combining audio analysis, video generation, and background workers to allow music artists to create videos quickly.
                </p>
                
                <p
                    v-if="project.short"
                    class="relative z-10 mt-6 flex text-sm font-medium text-wenge transition group-hover:text-jet"
                >
                    <svg
                        viewBox="0 0 24 24"
                        aria-hidden="true"
                        class="h-4 w-4 flex-none"
                    >
                        <path
                            d="M19.902 4.098a3.75 3.75 0 0 0-5.304 0l-4.5 4.5a3.75 3.75 0 0 0 1.035 6.037.75.75 0 0 1-.646 1.353 5.25 5.25 0 0 1-1.449-8.45l4.5-4.5a5.25 5.25 0 1 1 7.424 7.424l-1.757 1.757a.75.75 0 1 1-1.06-1.06l1.757-1.757a3.75 3.75 0 0 0 0-5.304Zm-7.389 4.267a.75.75 0 0 1 1-.353 5.25 5.25 0 0 1 1.449 8.45l-4.5 4.5a5.25 5.25 0 1 1-7.424-7.424l1.757-1.757a.75.75 0 1 1 1.06 1.06l-1.757 1.757a3.75 3.75 0 1 0 5.304 5.304l4.5-4.5a3.75 3.75 0 0 0-1.035-6.037.75.75 0 0 1-.354-1Z"
                            clip-rule="evenodd"
                            fill-rule="evenodd"
                        ></path>
                    </svg>
                    <span class="ml-2">camelia.studio</span>
                </p>
                
            </li>

            

            <li class="group relative flex flex-col items-start">
                <div
                    class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-laurel-green shadow-md"
                >
                    <span class="text-xl">🖼️</span>
                </div>
                <h2 class="mt-6 text-base font-semibold text-davys-grey">
                    <div
                        class="absolute -inset-y-6 -inset-x-4 z-0 scale-95 bg-dark-vanilla opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl"
                    ></div>
                    <a href="#" target="_blank"
                        ><span
                            class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                        ></span
                        ><span class="relative z-10"
                            >Personal website</span
                        ></a
                    >
                </h2>
                <p class="relative z-10 mt-2 text-sm text-wenge">
                    This personal website was the perfect opportunity to take a shot at some technologies I do not usually use
                </p>
                
            </li>

            

            <li class="group relative flex flex-col items-start">
                <div
                    class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-laurel-green shadow-md"
                >
                    <span class="text-xl">👨‍💻</span>
                </div>
                <h2 class="mt-6 text-base font-semibold text-davys-grey">
                    <div
                        class="absolute -inset-y-6 -inset-x-4 z-0 scale-95 bg-dark-vanilla opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl"
                    ></div>
                    <a href="https://scikit-learn.fondation-inria.fr/paris-sprint-of-the-decade-happy-birthday-scikit-learn/" target="_blank"
                        ><span
                            class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
                        ></span
                        ><span class="relative z-10"
                            >Scikit-learn Sprint of the Decade</span
                        ></a
                    >
                </h2>
                <p class="relative z-10 mt-2 text-sm text-wenge">
                    I participated in a 3-days scikit-learn sprint in Jan. 2020. I met some lovely people there and contributed to one of the most essential packages in the PyData ecosystem.
                </p>
                
                <p
                    v-if="project.short"
                    class="relative z-10 mt-6 flex text-sm font-medium text-wenge transition group-hover:text-jet"
                >
                    <svg
                        viewBox="0 0 24 24"
                        aria-hidden="true"
                        class="h-4 w-4 flex-none"
                    >
                        <path
                            d="M19.902 4.098a3.75 3.75 0 0 0-5.304 0l-4.5 4.5a3.75 3.75 0 0 0 1.035 6.037.75.75 0 0 1-.646 1.353 5.25 5.25 0 0 1-1.449-8.45l4.5-4.5a5.25 5.25 0 1 1 7.424 7.424l-1.757 1.757a.75.75 0 1 1-1.06-1.06l1.757-1.757a3.75 3.75 0 0 0 0-5.304Zm-7.389 4.267a.75.75 0 0 1 1-.353 5.25 5.25 0 0 1 1.449 8.45l-4.5 4.5a5.25 5.25 0 1 1-7.424-7.424l1.757-1.757a.75.75 0 1 1 1.06 1.06l-1.757 1.757a3.75 3.75 0 1 0 5.304 5.304l4.5-4.5a3.75 3.75 0 0 0-1.035-6.037.75.75 0 0 1-.354-1Z"
                            clip-rule="evenodd"
                            fill-rule="evenodd"
                        ></path>
                    </svg>
                    <span class="ml-2">scikit-learn.fondation-inria.fr</span>
                </p>
                
            </li>

            
        </ul>
    </div>
</div>